.homePage{
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
}

.basicContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
}

.basicLabel {
    user-select: none;
    margin-top: 20px;
    color: aliceblue;
    border: 1px solid aliceblue;
    border-radius: 6px;
    padding: 5px 2px;
}
.basicLabel:hover {
    cursor: pointer;
}
