.news{
    padding: 10px;
    margin-top: 20px;
    background-color: #FFE0C3;
    border-radius: 8px;
    cursor: pointer;
}

.newsTitleDate{
    display: flex;
    justify-content: space-between;
}

.avatar{
    aspect-ratio: 1 / 1;
    border-radius: 8px;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-bottom: 16px;
}

.newsTitle{
    text-transform: capitalize;
    font-size: 20px;
    font-weight: bold;

}

.newsDate{
    font-size: 16px;
    font-weight: lighter;
}

.tags span{
    background-color: #FC7630;
    color: white;
    border-radius: 8px;
    margin-right: 4px;
    padding: 0 4px;
}

.newsContent{
    width: 100%;
    font-size: 16px;
    font-weight: lighter;
    line-height: 1.2;
    margin-top: 4px;
    justify-content: center;
    overflow: hidden;
    text-overflow: ellipsis;
}
